

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2{
  font: bold 25px/1.1 ff-tisa-web-pro,Cambria,"Times New Roman",Georgia,Times,sans-serif;
  font-weight: 500;
}
.footer_content{
  z-index: 0;
  color: black;
  animation: scale 2s infinite;
  text-align: center;
}
@keyframes scale{
  0%{font-size: 14px;}
  100%{font-size: 30px;} 
}
