*{
  margin: 0;
  padding: 0;
}
body{
  background: #f7f7f7;
}
.nav-menu{
}
.nav-menu-item{
  padding: 0 15px;
  line-height: 27px;
  height: 27px;
  font-size: 13px;
}
.article-title{
  cursor: pointer;
  font-weight: bold;
}
.article-item{
  list-style: none;
  padding: 25px 0 15px;
}
header{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.container{
  background: #ffffff;
  box-shadow: 0 10px 20px 0 rgb(236 236 236 / 86%);
  max-width: 1150px;
  margin: 60px auto 0;
  padding: 25px 15px;
}
.article{
  border: 1px solid red ;
}

.article-content{
  font-size: 15px;
  line-height: 1.77;
  color: #444;
  padding-top: 15px;
  text-align: justify;
  text-justify: distribute;
  word-break: normal;
  cursor: pointer;
}
.article-time{
  padding: 0;
  margin: 15px 0 0;
  color: #6e7173;
  text-indent: .15em;
}
@media screen and (max-width: 900px){
  .container {
    width: 90%;
    margin-top: 20px;
  }
}